img{
    width: 500px;
    height:fit-content;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    font-size: xx-large;
}

.preparation{
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    font-size: medium;
    
    
    
}

h2{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: brown;
    text-align: left;
}

.ul{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: small;
    list-style-type: disc;
    
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
    font-size: small;
}

.ol{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:dimgray;
    font-size: small;
    list-style-type: numbers;
    lighting-color: brown;
}

td{
    font-family: Arial, Helvetica, sans-serif;
    color:dimgray;
    font-size: small;
    border-bottom: 1px solid black;
   
}
li{
    font-family: Arial, Helvetica, sans-serif;
    color:dimgray;
    font-size: small;
}
